.parent {}

h1 {
    font-weight: normal;
    margin: 1em 0 1em .5em;
}

h3 {
    font-weight: bold;
    margin: 0 .2em .7em 0;
}

.centered-page {
    margin-left : auto;
    margin-right: auto;
    max-width: 40em;
}

label {
    margin-bottom : .5em;
}

.text-input {
    border-radius : .3em;
    padding : .375em .75em;
    font-size : 1em;
    line-height : 1.5;
    border : 1.5px solid #ced4da;
    transition : border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.new-page-parent {
    max-width: 45em;
    margin-left: auto;
    margin-right: auto;
}

.new-page-input {
    margin: 1em 0;
    border-radius: .3em;
    width: 100%;
}

.new-page-file {
    margin: 1em 0 2em 0;
    border : 1.5px solid #ced4da;
    padding: .5em;
    border-radius: .3em;
    width: 100%;
}

.new-page-form {
    display : flex;
    align-items: center;
    flex-direction: column;
    max-width : 25em;
    margin: 0 auto 0 auto;
}

.fade-out-5s {
    animation: fade-out-animation 5s forwards;
}

@keyframes fade-out-animation {
    0% { opacity : 1; }
    70% { opacity : 1; }
    100% {
        display: none;
        opacity: 0;
    }
}

.new-page-error {
    color: #ff0000;
}

.new-page-success {
    color : #00ff00;
}

.pages {
    border: 1px solid #ced4da;
    border-radius : .3em;
    display: inline-block;
    padding: 1em;
    margin: 0 0 1em .2em;
}

.button-input {
    background-color: #007bff;
    border-color: #006bee;
    color : #fff;
    font-weight : 400;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select : none;
    border: 1px solid transparent;
    padding: .375em .75em;
    font-size: 1em;
    line-height: 1.5;
    border-radius: .3em;
    transition: color 1s ease-in-out,
        background-color 1s ease-in-out,
        border-color 1s ease-in-out,
        box-shadow 1s ease-in-out;
    margin-bottom : 1em;
}

.edit-view-image {
    max-width : 43em;
}
